body {
  margin: 0;
  overflow: hidden;
}

#feedback {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

#form-submit {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#text-input {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
